.movie-section {
    padding: 20px;
    background-color: #070b15;
    color: white;
}
/* text */
.movie-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(5, 280px);
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
}

.movie-container::-webkit-scrollbar {
    display: none;
}

.movie-card {
    flex: 0 0 auto;
    width: 250px;
    background-color: #181a1f;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

/* text */
.movie-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.movie-card p {
    font-size: 14px;
    color: #b3b3b3;
}

.btn-success:hover {
    background-color: #0a5a0a;
}